.demo {
  background: conic-gradient(from 0.5turn at bottom center, #add8e6, #fff);
  display: grid;
  place-content: center;
  padding: 1.5rem;
  gap: 1.5rem;
}

fieldset {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  @media (prefers-reduced-motion: no-preference) {
    transition: grid-template-columns 2s cubic-bezier(0.68, -0.55, 0.265, 1.55); /* Ефект пружини */
  }

  &:has(label:nth-child(1) > input:checked) {
    grid-template-columns: 5fr 3fr 1fr 1fr 1fr;
  }

  &:has(label:nth-child(2) > input:checked) {
    grid-template-columns: 2fr 5fr 2fr 1fr 1fr;
  }

  &:has(label:nth-child(3) > input:checked) {
    grid-template-columns: 1fr 2fr 5fr 2fr 1fr;
  }

  &:has(label:nth-child(4) > input:checked) {
    grid-template-columns: 1fr 1fr 2fr 5fr 2fr;
  }

  &:has(label:nth-child(5) > input:checked) {
    grid-template-columns: 1fr 1fr 1fr 3fr 5fr;
  }
}

.bouncy-image-radio-group {
  inline-size: 80vw;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 50vh;
  gap: 1rem;
  border: none;
}

.bouncy-image-radio-group label {
  cursor: pointer;
  border-radius: 2rem;
  background: var(--_img) 50% / cover;
}

.bouncy-image-radio-group input {
  opacity: 0;
}

.bouncy-image-radio-group label:focus-within {
  outline: 1px solid green;
  outline-offset: 5px;
}
